{% extends 'general_templates/base.html' %}
{% block title %}actors list {% endblock %}

{% block content %}

<h1>actors list</h1>
<table class="table table-striped">
<thead>
<th>Name</th>
<th>Gender</th>
<th>Profile Picture</th>

<th>....</th>
</thead>
<tbody>
{% for actor in actors%}
<tr>
    <td>{{actor.name}}</td>
    <td>{{actor.gender}}</td>

    <td><img width="10%" height="10%" src="{{request.scheme}}://{{request.get_host}}{{actor.picture.url}}"></td>


   <td><a class="btn btn-dark" href="{% url 'actor:showActor' actor.pk %}">Details</a></td>
    {% if request.user.is_authenticated %}
    <td><a class="btn btn-danger" href="{% url 'actor:deleteActor' actor.pk %}">Delete</a></td>
    <td><a class="btn btn-primary" href="{% url 'actor:updateActor' actor.pk %}">Update</a></td>
    {% endif %}
</tr>
{% endfor %}


</tbody>
</table>

<a href="{% url 'actor:createActor' %}" class="btn btn-success">Create Actor</a>
{% endblock %}